attrdict==2.0.1
base58==2.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cytoolz==0.11.0
ecdsa==0.16.0
eth-abi==2.1.1
eth-account==0.4.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.2.0
eth-typing==2.2.2
eth-utils==1.9.5
Flask==1.1.2
gunicorn==20.0.4
hexbytes==0.2.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
parsimonious==0.8.1
psycopg2==2.8.6
pycryptodome==3.9.8
requests==2.24.0
rlp==1.2.0
selenium==3.141.0
six==1.15.0
toolz==0.11.1
tronapi==3.1.6
trx-utils==1.0.4
urllib3==1.25.10
Werkzeug==1.0.1
